#book
{
    height: 20%;
    width:20;
    margin-left: 5%;
    margin-top: 2%;
  /* border-radius: 500px;   */
    
}
.navbook
{
    display: flex;
}
#inputtext
{
    width: 25%;
    height: 70%;
    margin-left: 10%;
    margin-top: 2%;
    padding: 7px;
    border-radius: 50px;
}
#search
{
    margin-top: 40px;
    position: absolute;
    margin-left: 48%;
    color: red;  
}
#cart
{
    /* margin-top: 35px; */
    position: absolute;
    margin-left: 78%;
    color: red;   
}
#badge
{
    margin-top: 2%;
    margin-left: 1%;
}